{% extends 'base.html' %}
{#{% load staticfiles %}#}
{% load static %}
{% block title %}仓库管理系统 - 主页{% endblock %}
{% block content %}
    <div class="container text-center" style="margin-top: 5%">
        {% if request.session.is_login %}
            <h1>hello，{{ request.session.user_role }}：{{ request.session.user_name }}！welcome！</h1>
            <p>manipulation menu</p>
                <div class="row center-block" style="width: 600px">
                    <div class="list-group col-xs-4 " style="width: 200px">
                        <a href="#" class="list-group-item active">system</a>
                        {% if request.session.user_role == '管理员' %}
                            <a href="{% url 'user:index' %}" class="list-group-item">user</a>
                        {% endif %}
                        <a href="{% url 'customer:index' %}" class="list-group-item">clientele</a>
                        <a href="{% url 'clothes:index' %}" class="list-group-item">stock</a>
                    </div>
                    <div class="list-group col-xs-4" style="width: 200px">
                        <a href="#" class="list-group-item active">stock</a>
                        <a href="{% url 'inorder:index' %}" class="list-group-item">in put</a>
                        <a href="{% url 'outorder:index' %}" class="list-group-item">out put</a>
                    </div>
                    <div class="list-group col-xs-4" style="width: 200px">
                        <a href="#" class="list-group-item active">assistant</a>
                        <a href="{% url 'changepwd' %}" class="list-group-item">change password
</a>
                    </div>
                </div>
        {% else %}
            <h1 style="margin-top: 15%">你尚未登录，只能访问公开内容！</h1>
        {% endif %}
    </div>
{% endblock %}