{% extends 'base.html' %}
{% block title %}Management System - Store entry details{% endblock %}
{% block content %}
    <div align="center" style="height: 600px;margin-top: 5%">
        <h1 style="text-align: center">Store entry details</h1><br>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        {% if qs1 %}
            <table class="table table-striped table-bordered table-hover  table-condensed" style="width: 800px">
                <tr class="success" style="text-align: center;font-weight: bold">
                    <td>ID</td>
                    <td>Warehouse entry number</td>
                    <td>client</td>
                    <td>agent</td>
                    <td>total</td>
                    <td>Creation time</td>
                    <td>Modification time</td>
                    <td>editor</td>
                    <td>delete</td>
                </tr>
                {% for foo in qs1 %}
                    <tr style="text-align: center">
                        <td>{{ foo.id }}</td>
                        <td>{{ foo.code }}</td>
                        <td>{{ foo.customer.name }}</td>
                        <td>{{ foo.user.name }}</td>
                        <td>{{ sum }}</td>
                        <td>{{ foo.create_time }}</td>
                        <td>{{ foo.modify_time }}</td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'inorder:update' foo.id %}">editor</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'inorder:delete' foo.id %}">delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No warehouse entry</p>
        {% endif %}
        {% if qs2 %}
            <a class="btn btn-info btn-sm" href="{% url 'inorder:addmore' inorder_id %}"> add</a>
            <br>
            <br>
            <table class="table table-striped table-bordered table-hover  table-condensed" style="width: 800px">
                <tr class="success" style="text-align: center;font-weight: bold">
                    <td>ID</td>
                    <td>Garment number</td>
                    <td>Costume name</td>
                    <td>Price</td>
                    <td>quantity</td>
                    <td>subtotal</td>
                    <td>editor</td>
                    <td>delete</td>
                </tr>
                {% for foo in qs2 %}
                    <tr style="text-align: center">
                        <td>{{ foo.id }}</td>
                        <td>{{ foo.clothes.sn }}</td>
                        <td>{{ foo.clothes.name }}</td>
                        <td>{{ foo.clothes.price }}</td>
                        <td>{{ foo.amount }}</td>
                        <td>{% widthratio foo.clothes.price 1 foo.amount %}
                        <td><a class="btn btn-primary btn-sm"
                               href="{% url 'inorder:editmore' inorder_id=inorder_id inorderclothes_id=foo.id %}">editor</a>
                        </td>
                        <td><a class="btn btn-danger btn-sm"
                               href="{% url 'inorder:deletemore' inorder_id=inorder_id inorderclothes_id=foo.id %}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No clothing information</p>
            <a class="btn btn-info btn-sm" href="{% url 'inorder:addmore' inorder_id %}">add</a>
        {% endif %}

    </div>
    <div class="req1" msg="1" style="display:none"></div>
{% endblock %}