{% extends 'base.html' %}
{% block title %}Management System - Storage management{% endblock %}
{% block content %}
    <div id="content" style="height: 600px;margin-top: 5%">
        <h1 style="text-align: center">Warehousing</h1><br>
        <div id="search" class="text-center">
            <form class="form-inline" action="{% url 'inorder:search' %} " method="post">
                <div class="form-group ">
                    <a class="btn btn-info" href="{% url 'inorder:add' %}">add</a>&nbsp;&nbsp;&nbsp;
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="in ID inquire">
                </div>
                <div class="form-group">
                    <label for="code">in warehouse:</label>
                    <input type="text" class="form-control" id="code" name="code" placeholder="in in warehouse inquire">
                </div>
                <div class="form-group">
                    <label for="customer_name">client:</label>
                    <input type="text" class="form-control" id="customer_name" name="customer_name"
                           placeholder="Enter customer query">
                </div>
                <div class="form-group">
                    <label for="user_name">processor:</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="in processor inquire">
                </div>
                &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success">inquire</button>
            </form>
        </div>
        <br>
        <div id="table" align="center">
            {% if result %}
                <table class="table table-striped table-bordered table-hover  table-condensed" style="width: 1100px">
                <tr class="success" style="text-align: center;font-weight: bold">
                    <td>ID</td>
                    <td>Warehouse entry number</td>
                    <td>client</td>
                    <td>Person handling transaction</td>
                    <td>Creation time</td>
                    <td>Modification time</td>
                    <td>details</td>
                    <td>editor</td>
                    <td>delete</td>
                </tr>
                {% for foo in result %}
                    <tr style="text-align: center">
                        <td>{{ foo.id }}</td>
                        <td>{{ foo.code }}</td>
                        <td>{{ foo.customer.name }}</td>
                        <td>{{ foo.user.name }}</td>
                        <td>{{ foo.create_time }}</td>
                        <td>{{ foo.modify_time }}</td>
                        <td><a class="btn  btn-warning btn-sm" href="{% url 'inorder:detail' foo.id %}">details</a></td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'inorder:update' foo.id %}">editor</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'inorder:delete' foo.id %}">delete</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>No warehouse entry</p>
            {% endif %}
            </table>
        </div>
        <!-- 分页开始 -->
        <div class="text-center">
            <ul class="pagination">
                <li><a href="/inorder?page=1" rel="external nofollow">Home</a></li>
                {% if result.has_previous %}
                    <li><a href="/inorder?page={{ result.previous_page_number }}" rel="external nofollow">Previous</a></li>
                {% endif %}
                {% for num in result.paginator.page_range %}
                    <li><a href="/inorder?page={{ num }}" rel="external nofollow">{{ num }}</a></li>
                {% endfor %}
                {% if result.has_next %}
                    <li><a href="/inorder?page={{ result.next_page_number }}" rel="external nofollow">Next</a></li>
                {% endif %}
                <li><a href="/inorder?page={{ result.paginator.num_pages }}" rel="external nofollow">Trailing</a></li>
            </ul>
        </div>
        <!-- 分页结束 -->
    </div>
    <div class="req1" msg="1" style="display:none"></div>
{% endblock %}